body {
    background: pink
}

.frame1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border: 0;
    bottom: 0;
    height: 100%;
}

.frame2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    border: 0;
    bottom: 0;
    height: 100%;
}